<!-- SET THE CONTROLLER AND GET ALL PORTFOLIOS -->
 <div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>My Portfolios <span class="label label-info">{{portfolios.length}}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div class="row">
        <!-- LOOP OVER THE portfolios IN $scope.portfolios -->
        <div class="col-md-6" ng-repeat="portfolio in portfolios">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Project name : {{ portfolio.project.name }}</h3>
              </div>
              <div class="panel-body">
                <div>
                    <b>Company name:</b> {{ portfolio.project.companyName }}
                </div>
                <div>
                  <span><b>Start:</b> {{ portfolio.project.duration.startDate }} <b>End:</b>{{ portfolio.project.duration.endDate }}</span>
                </div>
                <div>
                   <b>Description:</b> {{ portfolio.project.description }}
                </div>
                <div>
                   <b>Technologies:</b> {{ portfolio.project.technologies }}
                </div>
              </div>
            </div>
            <button class="btn btn-danger btn-lg" ng-click="deletePortfolio(portfolio._id)">Delete</button>
        </div>
    </div>


    <!-- FORM TO CREATE portfolio -->

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
           <form name="form" ng-submit="createPortfolio()" role="form">
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <label for="name">Project's name:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's name" ng-model="newPortfolio.name">
                    <label for="companyName">Company's name:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's company name" ng-model="newPortfolio.companyName">
                    <label for="startDate">Start:</label>
                    <input type="date" class="form-control input-lg text-center"  ng-model="newPortfolio.duration.startDate">
                    <label for="endDate">End:</label>
                    <input type="date" class="form-control input-lg text-center" ng-model="newPortfolio.duration.endDate">
                    <label for="description">Project's description:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's description" ng-model="newPortfolio.description">
                    <label for="technologies">Project's technologies:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's technologies" ng-model="newPortfolio.technologies">
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Add</button>
            </form>
        </div>
    </div>

</div>
