<!-- SET THE CONTROLLER AND GET ALL PORTFOLIOS -->
 <div class="container">

    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1>My Projects <span class="label label-info">{{portfolio.length}}</span></h1>
    </div>

    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE projects IN $scope.portfolio -->
            <div class="checkbox" ng-repeat="project in portfolio">
                <label>
                    <input type="checkbox" ng-click="deletePortfolio(project._id)"> {{ portfolio.project }}
                </label>
            </div>

        </div>
    </div>

    <!-- FORM TO CREATE PROJECTS -->

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
           <form name="form" ng-submit="vm.portfolio()" role="form">
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <label for="name">Project's name:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's name" ng-model="vm.project.name">
                    <label for="companyName">Company's name:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's company name" ng-model="vm.project.companyName">
                    <label for="fromDate">From:</label>
                    <input type="date" class="form-control input-lg text-center"  ng-model="vm.project.duration.fromDate">
                    <label for="endDate">To:</label>
                    <input type="date" class="form-control input-lg text-center" ng-model="vm.project.duration.endDate">
                    <label for="description">Project's description:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's description" ng-model="vm.project.description">
                    <label for="technologies">Project's technologies:</label>
                    <input type="text" class="form-control input-lg text-center" placeholder="Project's technologies" ng-model="vm.project.technologies">
                </div>

                <!-- portfolio() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg">Add</button>
            </form>
        </div>
    </div>

</div>
