    <div class="main-wrapper">
        <section class="section summary-section">
            <h2 class="section-title"><i class="glyphicon glyphicon-user"></i> User Profile</h2>
            <div class="summary">
                <p>First name</p>
                <p>Last name</p>
                <p>Email</p>
                <p>Phone</p>
            </div><!--//summary-->
        </section><!--//section-->
        <section class="section experiences-section">
            <h2 class="section-title"><i class="glyphicon glyphicon-folder-open"></i> Projects</h2>
            <div ng-repeat="project in projects">
              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title"> {{ project.name }}</h3>
                          <div class="time">{{ project.duration.startDate | date:'MM/dd/yyyy' }} - {{ project.duration.endDate | date:'MM/dd/yyyy' }}</div>
                      </div><!--//upper-row-->
                      <div class="company">{{ project.companyName }}</div>
                  </div><!--//meta-->
                  <div class="details">
                      {{ project.description }}
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                  </div><!--//details-->
              </div><!--//item-->
            </div>
        </section><!--//section-->
        <section class="skills-section section">
            <h2 class="section-title"><i class="glyphicon glyphicon-wrench"></i> Technologies used</h2>
          <div ng-repeat="project in projects">
            <div class="skillset">
                <div class="item">
                <h3 class="level-title"> {{ project.name }} :</h3>
                    <h3 class="level-title"> {{ project.technologies }}</h3>
                </div><!--//item-->
              </div>
            </div>
        </section><!--//skills-section-->

    </div><!--//main-body-->
