<!-- public/views/index.html -->
<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="app">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title><%= title %></title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <% styles.forEach(function(style) { %>
    <link rel="stylesheet" href="<%=style%>">
    <% }); %>
    <style>
        html                    { overflow-y:scroll; }
        #add-project            { margin-bottom: 10px; }
        #close                  { float: right; display:block; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-route/angular-route.js"></script>
    <script src="libs/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
    <% scripts.forEach(function(script) { %>
    <script src="<%=script%>"></script>
    <% }); %>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Title</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li ng-if="!userLoggedIn" ng-class="{active: isActive('/login')}">
                    <a href="#!/login">Login</a>
                </li>
                <li ng-if="!userLoggedIn" ng-class="{active: isActive('/register')}">
                    <a href="#!/register">Register</a>
                </li>
                <li ng-if="userLoggedIn" ng-class="{active: isActive('/portfolio')}">
                    <a href="#!/portfolio">Portfolio</a>
                </li>
                <li ng-if="userLoggedIn">
                    <a href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<ng-view></ng-view>
</body>
</html>